<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<h1>It's Goofytime</h1>

<% @user_count = @users.count - 1 %>

<strong>Hey! <%= @user_count %> other Goofies want to checkout new events with you!</strong>

<% @users.each do |user| %>
  <p>
    <% if user.id != current_user.id %>
      <strong><%= user.first_name %> <%= user.last_name[0] %>.</strong>
      is a Goofy since <%= user.created_at.strftime("%d.%m.%Y") %>.
      <small><%= link_to "Show profile", user_path(current_user.id, :user_id => user.id) %></small>
    <% end %>
  </p>
  
<% end %>
