<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<span class="float_left">
  <% if @user.photo? %>
    <div id="pictureContainer"><div id="userPicture"><%= image_tag @user.photo.url(:medium) %></div>
  <% else %>
    <div id="pictureContainer"><div id="defaultPicture"></div>
  <% end %>
    </div>

  <div id="showUserInformation">
    <h1>
      <%= @user.first_name %> <%= @user.last_name %> 
      <% if @user.id == current_user.id %>
        <%= link_to 'Edit', edit_user_path(@user) %>
      <% end %>
    </h1> 
    Get in Contact
    <div><%= mail_to @user.email %></div>
  </div>
</span>

<span class="float_left" style="margin-top:50px;">

  <% if(@events.empty?) %>
    <h1>No Events :-(</h1>
  
    <p>No events created at the moment.</p>
  	 
  <% else %>
        
    <h1>Eventlist</h1>    
  
    <% @events.each do |event| %>
    
      <span class="box">
      
        <% if event.date_time < Time.now %>
          <p class="grey">
        <% else %>
          <p>  
        <% end %>
        
        In <%= distance_of_time_in_words(Time.now, event.date_time) %> (<%= event.date_time.strftime("%d.%m.%Y") %>)
        <%= @user.first_name %> wants to 
        <%= link_to event.title, event %> 
        in <%= event.city %>
        at <%= event.location %> 
        with <%= event.person_limit %> other goofys</p>
      
        <p>
        <%= link_to 'Show details', event %>

        <% if event.user_id == current_user.id %>
            | <%= link_to 'Edit', edit_event_path(event) %> 
            | <%= link_to 'Delete', event, confirm: 'Are you sure?', method: :delete %>  
        <% end %>  
        </p>
      </span>
    <% end %>
  <% end %>
</span>	