<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<% if @is_empty %>
  <%= render :partial => 'noevent' %>
  
  <% if !current_user %>
    <%= link_to "Login to add an event", :login %>
  <% end %>	 
<% else %>

  <h1>Goofytime Eventlist</h1>
  
  <% if !current_user %>
    <p><%= link_to "Login for more events", :login %></p>
  <% end %>
  
  <% @events.each do |event| %>
     
    <% user = event.user %>

    <% 
       # user photo
       @attending = EventsUser.where("event_id = ?", event.id)
    %>
       
    <span class="box">   
      <p>
      In <%= distance_of_time_in_words(Time.now, event.date_time) %> 
      <% if current_user %>
        <%= link_to user.first_name, user_path(current_user.id) %> 
      <% else %>
        <em>a Goofy</em>
      <% end %>    
        wants to 
      <% if current_user %>
        <%= link_to event.title, event %>
      <% else %>  
        <%= event.title %> 
      <% end %>  
      in <%= event.city %> @ <%= event.location %> with <%= event.person_limit %> other goofies
      </p>  

      <% if current_user %>
        <p><strong><%= user.first_name %></strong> and <strong><%= @attending.count %></strong>
        <% if @attending.count == 1 %>
          Goofy is attending this event
        <% else %>
          Goofies are attending this event</p>
        <% end %>  
        </p>
          
        <% if user.photo.to_s.include? "missing" %>
          <%= link_to (image_tag "default_photo_30x30.jpg", :title => user.first_name + ' ' + user.last_name, :alt => user.first_name + ' ' + user.last_name, :class => 'defaultPictureSmall'), user_path(user.id) %>            
        <% else %>
          <%= link_to (image_tag user.photo.url(:thumb), :title => user.first_name + ' ' + user.last_name, :alt => user.first_name + ' ' + user.last_name, :class => 'attending_image_leader'), user_path(user_id) %>
        <% end %>
          
        <% @attending.each do |attending| %>

          <% if @attending.count > 0 %>
            <%
            @attending_user_id = EventsUser.find(attending).user_id
            @attending_user_firstname = User.find(@attending_user_id).first_name
            @attending_user_lastname = User.find(@attending_user_id).last_name
            @attending_user_photo = User.find(@attending_user_id).photo
            %>
            
            <% if @attending_user_photo.to_s.include? "missing" %>
              <%= link_to (image_tag "default_photo_30x30.jpg", :title => @attending_user_firstname + ' ' + @attending_user_lastname, :alt => @attending_user_firstname + ' ' + @attending_user_lastname, :class => 'defaultPictureSmallWithoutBorder'), user_path(@attending_user_id, :user_id => @attending_user_id) %>
            <% else %>
              <%= link_to (image_tag @attending_user_photo.url(:thumb), :class => 'attending_image'), user_path(@attending_user_id, :user_id => @attending_user_id) %>
            <% end %>
          <% end %>
          
        <% end %>
        
      <% end %>  
      
      <p style="float: right;">
      <% if current_user %>
        <%= link_to 'Show details', event %>
        <% if @u_id == current_user.id %>
          | <%= link_to 'Edit', edit_event_path(event) %>
          | <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>  
        <% end %>
      <% else %>
         Login to join this event!
      <% end %>
      </p>
      
    </span>
  <% end %>
  
  <!-- works also for offline state -->
  

<% end %>   