<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<% if @is_empty %>
  <%= render :partial => 'noevent' %>
  
  <% if !current_user %>
    <%= link_to "Login to add an event", :login %>
  <% end %>	 
<% else %>

  <h1>Goofytime Eventlist</h1>
  
  <% if !current_user %>
    <p><%= link_to "Login for more events", :login %></p>
  <% end %>

  <% @events.each do |event| %>
    <% user = event.user %>

    <% @number_of_attendies = EventsUser.attending_count(event.id).count %>

    <span class="box">   
      <p>
        In <%= distance_of_time_in_words(Time.now, event.date_time) %> 
        <% if current_user %>
          <%= link_to user.first_name, user_path(current_user.id) %> 
        <% else %>
          <%= user.first_name %>
        <% end %>    
          wants to 
        <% if current_user %>
          <%= link_to event.title, event %>
        <% else %>  
          <%= event.title %> 
        <% end %>  
        in <%= event.city %> @ <%= event.location %> with <%= event.person_limit %> other goofies
      </p>  

      <p>
        <strong><%= user.first_name %></strong> and <strong><%= @number_of_attendies %></strong>
        <% if @number_of_attendies == 1 %>
          Goofy
        <% else %>
          Goofies
        <% end %> 
        are attending this event</p> 
      </p>

      <% if current_user %>    

        <% if user.photo.to_s.include? "missing" %>
          <%= link_to (image_tag "default_photo_30x30.jpg", :title => user.first_name + ' ' + user.last_name, :alt => user.first_name + ' ' + user.last_name, :class => 'defaultPictureSmall'), user_path(user.id) %>            
        <% else %>
          <%= link_to (image_tag user.photo.url(:thumb), :title => user.first_name + ' ' + user.last_name, :alt => user.first_name + ' ' + user.last_name, :class => 'attending_image_leader'), user_path(user_id) %>
        <% end %>
          
        <% event.users.each do |attending_user| %> 
         
          <% if attending_user.photo.to_s.include? "missing" %>
            <%= link_to (image_tag "default_photo_30x30.jpg", :title => attending_user.first_name + ' ' + attending_user.last_name, :alt => attending_user.first_name + ' ' + attending_user.last_name, :class => 'defaultPictureSmallWithoutBorder'), user_path(attending_user.id) %>
          <% else %>
            <%= link_to (image_tag attending_user.photo.url(:thumb), :class => 'attending_image'), user_path(attending_user.id) %>
          <% end %>  
        <% end %>
      
      <% end %>
      
      <p style="float: right;">
        <% if current_user %>
          <%= link_to 'Show details', event %>
          <% if user.id == current_user.id %>
            | <%= link_to 'Edit', edit_event_path(event) %>
            | <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>  
          <% end %>
        <% else %>
        Login to join this event!
      <% end %>
    </p>
      
  </span>

  <% end %> 
<% end %>   