<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<% if @is_empty %>
  <%= render :partial => 'noevent' %>
<% else %>
  
  <h1>Joining Events</h1>

  <% @events.each do |event| %>
    
    <% user = event.user %>
      
    <span class="box"> 
      <p>
        In <%= distance_of_time_in_words(Time.now, event.date_time) %> (<%= event.date_time.strftime("%d.%m.%Y") %>)
        <%= user.first_name %> wants to 
        <%= link_to event.title, event %>
        in <%= event.city %>
        at <%= event.location %> 
        with <%= event.person_limit %> other goofys
      </p>
      <%= link_to 'Show details of this event', event %>
    </span>
  <% end %>
<% end %>