<h1>My Eventlist</h1>

<% if(@events.empty?) %>
  
  <p>No entries in your database</p>
  	 
<% else %>
  <% @events.each do |event| %>

    <span class="box">
      
      <% if event.date_time < Time.now %>
        <p class="grey">
      <% else %>
        <p>  
      <% end %>  
      
      In <%= distance_of_time_in_words(Time.now, event.date_time) %> (<%= event.date_time.strftime("%d.%m.%Y") %>)
      you want to 
      <%= link_to event.title, event %> 
      in <%= event.city %>
      at <%= event.location %> 
      with <%= event.person_limit %> other goofys</p>
      
      <p>
      <%= link_to 'Show', event %> | 
      <%= link_to 'Edit', edit_event_path(event) %> | 
      <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %> 
      </p>
    </span>
    
  <% end %>
  
  <%= will_paginate @events, :page_links => false %>
  
<% end %>	