<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<%= form_for @event do |f| %>

  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div>
      <p>I want to <%= f.text_field :title, :class => 'input_form_want_to clearField', :value => 'go for a drink' %>
      on <%= f.text_field :date_time, :class => "datepicker input_form_in_line", :value => 1.day.from_now.strftime('%Y-%m-%d') %></p>
      <p>in <%= f.text_field :city, :class => 'input_form_in_line clearField', :value => 'Salzburg' %>
      at <%= f.text_field :location, :class => 'input_form_in_line clearField', :value => 'Shamrock' %>
      and invite <%= f.text_field :person_limit, :class => 'input_form_in_line clearField', :value => '15' %> others.</p>
    </div>
    <p>
      <%= f.text_area :description, :value => 'Lets meet at 8 o´clock pm.' %>
    </p>

    <%= f.submit %>
  </div>
  
<% end %>