<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<% if(@events.empty?) %>
  <h1>No Events :-(</h1>
  
  <p>No entries in your database</p>
  	 
<% else %>
  <% @events.each do |event| %>
  
    <% @user_id = Event.find(event.id).user_id
       @user_firstname = User.find(@user_id).first_name
    
       if @user_id == current_user.id
         @owner = 1
       else  
  	     @owner = 0
  	  
  	     if(EventsUser.where("event_id = ? and user_id = ?", event.id, current_user.id).count > 0)
  	       @attending = 1
  	     else
  	       @attending = 0  
  	     end
  	    end
    %>
    
    <h1>Try this event</h1>
    
    <span class="box">
      <p>
      In <%= distance_of_time_in_words(Time.now, event.date_time) %> (<%= event.date_time.strftime("%d.%m.%Y") %>)
      <%= link_to @user_firstname, user_path(current_user.id, :user_id => @user_id) %> wants to 
      <%= link_to event.title, event %>   
      in <%= event.city %>
      at <%= event.location %> 
      with <%= event.person_limit %> other goofies
      </p>
  
      <h4>In detail this means:</h4>
      <p><div><%= event.description %></div></p>
      
      <% if @owner != 1 %>
        <% if @attending == 1 %>
          <%= link_to 'Unattend this event', events_user_path(:event_id => event.id), confirm: 'Are you sure?', method: :delete %> 
        <% else %>
          <%= link_to 'Attend this event now', new_events_user_path(:event_id => event.id) %>
        <% end %>
      <% end %>
    </span>
   
  <% end %>
<% end %>  