<!--
Fachhochschule Salzburg
MultimediaTechnology B 2010
Basisqualifikationsprojekt 2a
Daniel Krenmayr, Dimitri Reifschneider
-->

<h1>„It‘s Goofytime!“</h1>

<p>Get acquainted with students and new other people over the world by attending user-created events. Goofytime offers you a fast-growing data pool of events you can join and gives you the possibility to get in touch with other users. Are you new to a city or country and want to meet new people? Just find the right activity and meet up with students or others in your area. You can also add a new event and find somebody new who always wanted to learn kite surfing or teaches you how to play the piano. It's easy! Sign up and try it today!</p>

<p><%= link_to "Signup", :signup %></p>

<br />

<p><h1>Many users wait for you!</h1></p>

<p><span style="float: left; margin-right: 20px;"><%= image_tag("goofy1_50x50.jpg") %></span></p><p style="width: 400px"><i>"Thanks to goofytime I found knew interesting people who share my interest for stage diving :)"</i></p>
<br />
<p><span style="float: left; margin-right: 20px;"><%= image_tag("goofy2_50x50.jpg") %></span><p/><p style="width: 400px"><i>"It's amazing. I always wanted to learn free running with others. Last week, I got the chance! "</i></p>

<br />
<br />

<p>
<h1>1. Create your profile</h1>
<%= image_tag("showprofile.png", :border => 1) %>
</p>
<br />
<p>
<h1>2. Create your own event</h1>
<%= image_tag("addevent.png", :border => 1) %>
</p>
<br />
<p>
<h1>3. Attend different events</h1>
<%= image_tag("showevent.png", :border => 1) %>
</p>